$white : #ffffff;
$black : #030303;
$tundora : #434343;
$suvaGray : #868586;
$saffron : #f3b329;
$pumice : #cccccc;
$blueLagoon : #357f60;
$cornHarvest : #936c0f;
$fountainBlue : #51bfc7;
$alizarinCrimson : #d61a2a;

$dawnPink : #f3ece3;
$codGray : #1d1c1a;
$pewter : #96a4a3;
$sandDune : #7c6e69;
$osloGray : #86888e;

$anzac : #e1aa40;
$scorpion : #5b5b5b;
$keppel : #49a987;
$merlin : #453e39;
$tan : #fef7e9;

//fonts
$yellow : 'Kristi', Arial, Helvetica;
$serif : 'DM Serif Display', Arial, Helvetica;
